head
  title Tabdash
body
  +header
  +trains
  +weather
  
template(name='header')
  .row
    .col-xs-3
    .col-xs-6.text-center
      .current-time
        = formattedTime
      .current-date.text-muted
        = formattedDate
    .col-xs-3.namedays
      each namedays
        .text-muted
          = name

template(name='weather')
  table.table.forecasts
    thead
      tr
        th
        th °C
        th
    tbody
      each forecasts
        +weatherRow

template(name='weatherRow')
  tr
    td.text-muted
      = formattedTime
    td
      strong
        = temperature
    td.text-left
      img(src="http://api.yr.no/weatherapi/weathericon/1.1/?symbol=#{code};content_type=image/png")
      span.text-muted
        = name
        
template(name='trains')
  table.table.trains
    thead
      tr
        th
        th Dole
        th Salaspils
    tbody
      each trains
        +trainRow

template(name='trainRow')
  tr
    td.text-muted
      = formattedTime
    td
      if dole
        span.glyphicon.glyphicon-ok
    td
      if salaspils
        span.glyphicon.glyphicon-ok
        

//-   %slide
//-     .slide-content{ 'ng-controller' => 'RouteGroupsCtrl' }
//-       .row
//-         .route-group{ 'ng-repeat' => "routeGroup in routeGroups | orderBy : 'priority' " }
//-           %h1
//-             {{ routeGroup.name }}
//-             %span.text-muted
//-               {{ routeGroup.upcoming[0].time.fromNow() }}
//-           .run.row{ 'ng-repeat' => 'run in routeGroup.upcoming'}
//-             .col-xs-4.text-right.col-xs-offset-1
//-               {{ run.number }}
//-               %img{ 'ng-src' => 'images/{{ run.kind }}.png' }
//-             .col-xs-6.time.text-left
//-               {{ run.time.fromNow() }}
