$scale-unit: 5px;
$text-color: #aaa;

.carousel {
  text-align: center;

  .item {
    min-height:  $scale-unit * 200;
  }
}

.route-group {
  .run {
    font-size: $scale-unit * 4;

    img {
      width: $scale-unit * 6;
    }

    .time {
      margin-top: $scale-unit / 2;
    }
  }
}

.forecasts {
  font-size: $scale-unit * 4;

  th {
    text-align: center;
  }
}

.namedays {
  padding-top: $scale-unit * 4;
  div {
    padding-top: $scale-unit;
    font-size: $scale-unit * 4;
  }
}

.current-time {
  font-size: $scale-unit * 20;
  margin-bottom: $scale-unit * -6;
}

.current-date {
  font-size: $scale-unit * 4;
}

.trains {
  font-size: $scale-unit * 4;

  th {
    text-align: center;
  }
}
