head
  title Tabdash
body
  +header
  +carousel
  
template(name='carousel')
  .carousel.slide
    .carousel-inner
      .item.active
        +trains
      .item
        +weather
        
template(name='header')
  .row
    .col-xs-3
    .col-xs-6.text-center
      .current-time
        = formattedTime
      .current-date.text-muted
        = formattedDate
    .col-xs-3.namedays
      each namedays
        .text-muted
          = name

//-   %slide
//-     .slide-content{ 'ng-controller' => 'RouteGroupsCtrl' }
//-       .row
//-         .route-group{ 'ng-repeat' => "routeGroup in routeGroups | orderBy : 'priority' " }
//-           %h1
//-             {{ routeGroup.name }}
//-             %span.text-muted
//-               {{ routeGroup.upcoming[0].time.fromNow() }}
//-           .run.row{ 'ng-repeat' => 'run in routeGroup.upcoming'}
//-             .col-xs-4.text-right.col-xs-offset-1
//-               {{ run.number }}
//-               %img{ 'ng-src' => 'images/{{ run.kind }}.png' }
//-             .col-xs-6.time.text-left
//-               {{ run.time.fromNow() }}
