head
  title Tabdash
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  meta(name='mobile-web-app-capable' content='yes')
    
body
  +header
  +carousel
  
template(name='carousel')
  .carousel.slide
    .carousel-inner
      .item
        +trains
      .item
        +weather
      .item.active
        +routes
        
template(name='header')
  .row
    .col-xs-3
    .col-xs-6.text-center
      .current-time
        = formattedTime
      .current-date.text-muted
        = formattedDate
    .col-xs-3.namedays
      each namedays
        .text-muted
          = name
