template(name='routes')
  each routeGroups
    +routeGroup
        
template(name='routeGroup')
  .route-group
    h1= name
    span.text-muted
  each nextRuns
    +routeRun
  
template(name='routeRun')
  .row.run
    .col-xs-4.text-right.col-xs-offset-1
      = number
      img
    .col-xs-6.time.text-left
      = fromNow
